:root {
    --color-red: red;
}

html {
    & body {
        background-color: var(--color-red);
    }
}

picture {
    display: block;
    background-image: url("/src/assets/placeholder.webp");
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

[data-ratio] {
    position: relative;

    &:before {
        content: "";
        display: block;
    }

    & > * {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }
}